.nav-bar {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--black);
}

.nav-menu-items {
  display: flex;
  justify-content: right;
  flex: 1;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav-menu-dropdown {
  display: none;
}

@media (max-width: 640px) {
  .nav-menu-items {
    display: none;
  }

  ul.open {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 0;
    right: 16px;
    top: 48px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    flex-direction: column;
  }

  .list-item {
    text-align: center;
    padding: 8px;
    border: 1px solid var(--light-gray);
    width: 100%;
    height: fit-content;
  }

  .list-item:hover {
    background-color: var(--light-gray);
  }

  .nav-menu-dropdown {
    display: block;
    cursor: pointer;
  }

  .nav-menu-dropdown.open {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.211);
    background-color: var(--light-gray)
  }

}