.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-items {
  display: flex;
  justify-content: right;
  flex: 1;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav-menu-dropdown {
  display: none;
}

@media (max-width: 640px) {
  .nav-menu-items {
    display: none;

  }

  .nav-menu-dropdown {
    display: block;
  }

  .open {
    display: block;
    color: red;
  }
}